
.gb{
    background-color: #edf2c5;
    height: 880px;
    width: 1260px;
    
}
.first{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    
}
.bigh{
    color:#778a50;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 44px;
    font-weight: 900;
    width: 271px;
    height: 62px;
    margin: 0;
    padding: 36px 459px 0 160px;
}
.buttom{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 60px;
}
.media{
    margin-left: 10px;
    height: 25px;
}
. width: 1px;
    height: 25px;
    background-color: #778a5;
    margin-left: 10px;
    
}
.buttom2{
    color: #778a50;
    height: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    border: solid 1px #778a50;
    border-radius: 3px;
    margin: 0 0 0 10px;
    padding: 5px 7px;
}
.menutext{
    color: #edf2c5 ;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 900;
    padding: 0 30px;
    display: flex;
    align-items: center;
}
.menu{
    width: 940px;
    height: 44px;
    display: flex;
    flex-direction: row;
    background-color: #778a50;
    border-radius: 3px;
    margin: 0 0 20px 160px;
}
.pk{
    margin-left: 160px;
    display: flex;
    align-content: center;
}
.fr{
    margin-left: 108px;
    display: flex;
    flex-direction: row;
}
.lc{
    background-color: #778a50;
    width: 444px;
    height: 45;
    margin: 30px 0 15px 52px;
    border-radius: 3px;
    
}
.lh{
    color: #edf2c5 ;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 1000;
    margin: 10px 316px 12px 30px;
}
.fifthrow{
    margin-left: 148px;
    display: flex;
    flex-direction: row;
}
.vegetablesjpg{
    display: flex;
    align-items: baseline;
}
.jpg{
    margin-left: 15px;
}
.right{
    width: 444px;
    height: 140px;
    margin: 0 160px 0 52px;
    background-color: #f7fbda;
    border-radius: 3px;
}
.longline{
    width: 414px;
    height: 1px;
    background-color: #7d7d7d;
    margin: 15px;
}
.text{
    color: #7d7d7d;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin: 15px;
}
.emailphone{
    color: #7d7d7d;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin: 15px 232px 15px 15px;
}
.sixrowcon{
    width: 1260px;
    height: 60px;
    background-color: #778a50;
    margin-top: 35px;
    display: flex;
    align-items: center;
}
.sx{
    color: #edf2c5;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin: 23px 479px 23px 480px;
}